.logo{
    display: flex;
    color: #FFC300;

}
body{
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    background:#367584;
    
    
}

.container{
    max-width: 500px;
    display: block;
    position: relative;
    left: 400px;
    bottom: -100px;
    margin: 0;
    background-color: aquamarine;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    border-spacing: 50px;
    

    
}

button{
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: 10px;
    border-radius: 3px;
    margin-bottom: 4px;
    cursor:pointer;
}



form{
    position: relative;
    text-align: center;
    
}